header {
height: 47em;

  .main-nav {
    background-image: linear-gradient(180deg, #020B20, #020B20, transparent);
    font-size: x-large;
    color: white;
    height: 17em;
    z-index: 999;

    .main-nav-links {
      text-align: center;
      padding: 2% 2% 2% 2%;
      display: flex;
      align-items: center;

      .main-nav-link {
        margin-left: 1.5em;
        margin-right: 1.5em;
      }

      .site-logo {
        margin-left: 0;
        margin-right: auto;
        font-size: 2em;
      }

      .nav-log-in {
        margin-left: auto;
        display: flex;
        white-space: nowrap;
        align-items: center;

        img{
          margin-right: 10%;
        }

      }
    }

    .main-nav-banner {
      z-index: -1;
      position: relative;

      .banner-image {
        width: 100%;

      }

      .banner-content {
        position: absolute;
        z-index: 9999;
        top: 0;
        left: 0;
      }
    }
  }
}